html{
  scroll-behavior: smooth;
}
.main-grid{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  grid-auto-rows: 150px;
  height: 100%;

  
}
.title-galery{
  font-weight: 700;
  font-size: 2em;
}
.tall{
  grid-row: span 2;
}

.wide{
  grid-column: span 2;
}
.photo-art{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}
.photo-art:hover{
z-index: 100;
}

main{
  padding-top: 75px;
}
.left-line,.right-line{
  width:60vw;
  height: 5px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  background-color: black;
  /*
  background: linear-gradient(-45deg,rgb(250, 190, 255), rgb(99, 24, 117),rgb(250, 190, 255));
  animation: backg-move1 3s ease-in-out 0s infinite;
  background-position: 50% 50%;
  background-size: 200%;*/
  border: 1px solid black;
}
.left-line{
  transform: translateY(-150%);
}
.title-galery{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:2em;
  font-weight: 700;
  width: 90%;
  text-align: center;
}
body{}
.right-line{
  transform: translateY(150%);
}

:root{
  --display-pr-olx:none;
  --lock-scroll:visible;
  --display-header:1;
  --header-index:10;
}
body{
  overflow: var(--lock-scroll);
}

#h1{
  opacity: var(--display-header);
  z-index: var(--header-index);
}

.olx-display{
  background-color: rgba(0, 0, 0, 0.756);
  color:white;
  position: fixed;
  display: var(--display-pr-olx);
  justify-content: space-around;
  align-items: center;  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.olx-display .img-holder{
  width: 70%;
  height: 90%;
}
.olx-display .img-holder img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.olx-display .left-arr,.olx-display .right-arr {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  font-size: 1.5em;
}
.back-button{
  display: flex;
  justify-items: center;
  align-content: center;
  position:absolute ;
  top: 3%;
  left: 3%;
  width: 32px;
  height:32px;
  border-radius: 50%;
  font-size: 1.2em;
  
}
.show-olx{
  margin-top: 250px;
}
/* MAKE RESPONSIVE GRID  */
@media screen and (max-width:1100px) {
  /*.tall{
    grid-row:span 1;
  }
  .wide{
    grid-column: span 1;
  }*/
  .main-grid{
    grid-template-columns: repeat(4, auto);
  }
}
@media screen and (max-width:800px) {
  /*.tall{
    grid-row:span 1;
  }
  .wide{
    grid-column: span 1;
  }*/
  .main-grid{
    grid-template-columns: repeat(3, auto);
  }
}
@media screen and (max-width:550px) {
  /*.tall{
    grid-row:span 1;
  }
  .wide{
    grid-column: span 1;
  }*/
  .main-grid{
    grid-template-columns: repeat(2, auto);
    grid-template-rows:auto;
    width: 90%;

  }

  .photo-art:hover{
  
    cursor: pointer;
  }
  .olx-display .left-arr,.olx-display .right-arr{
    width: 24px;
    height: 24px;
    font-size: 10px;
  }
  .img-holder{
    width: 90%;
  }

}